*{
    box-sizing: border-box;
}

html {
    display: block;
}

/* Variables */
:root {
    --stratos: #001B48;
    --regal_blue: #02457A;
    --bondi_blue: #018ABE;
    --morning_glory: #97CADB;
    --botticelli: #D6E8EE;
}
/* --------- */

/* BACKGROUND DEL MAIN */
.v-main{
    /* background: var(--botticelli); */
    /* background: whitesmoke; */
}

/* BORDES PARA LOS BLOQUES DEL CODIFICADOR */
.v-card{ 
    /* border: solid 1px var(--bondi_blue) !important; */
    /* border: solid 1px whitesmoke !important; */
    border: solid 1px #cfcfcf !important;
}

#editor{
    border-radius: 8px;
}

/* BANNER SUPERIOR */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-1{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.link-scroll{
    padding-top: 30px;
}

.no-sticky{
    position: relative !important;
    background: white !important;
}

.sticky {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    background: var(--regal_blue) !important;
    color: whitesmoke !important;
}   

.responsive-img{
    width: 100%;
}

.banner{
    min-height: calc(100vh - 64px);
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .container .left{
    width: 50%;
    height: 100%;
    margin: 0;
    padding-right: 50px;
    padding: 100px;
    float: left;
}

.left h1{
    font-size: 2rem;
}

.buttons{
    text-align: center;
}
.buttons a{
    margin: 15px;
}
.btn-personal-primary, .primary{
    transition: 0.5s;
    background: var(--bondi_blue) !important;
    color: whitesmoke !important;
}
.btn-personal-primary:hover{
    transition: 0.5s;
    background: rgb(1, 125, 173) !important;
    color: whitesmoke !important;
}

.banner .container .right{
    overflow: hidden;
    width: 50%;
    margin: 0;
    padding: 10px;
    float: right;
}

/* RESPONSIVE BANNER */
@media screen and (max-width: 768px) {
    .flex-1{
        text-align: center;
    }
    .banner .container{
        display: block;
    }
    .banner .container .left{
        width: 100%;
        padding: 10px;
    }   
    .banner .container .right{
        width: 100%;
    }       
}


/* ----------------- Sección Info ----------------- */

#info-box{
    background-color: transparent;
    padding: 2.5em;
    /* margin-top: 2em; */
    margin-bottom: 2em;
    border-radius: 0.4em;
}


#page {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 1.5em;
}

.titulo {
    text-align: center;
    grid-column: 2 / 4;
    grid-row: 1;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 1.5em; */
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    justify-self: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: #cfcfcf 0px 1px 25px;
    grid-column: 1 / 3;
    grid-row: 2 / 5;
    padding: 1em;
    transition: background-color .5s;
    transition: all .5s ease-in-out;    
}

.box:hover{
    background-color: var(--botticelli);
    transform: scale(1.03);
}

.box1{
    grid-column: 1 / 3;
    grid-row: 2 / 5;
}

.box2{
    display: block;
    text-align: justify;
    grid-column: 2 / 4;
    grid-row: 5 / 9;
}
.box2 h2{
    text-align: center;
    margin-bottom: 10px;
}

.box2-text{
    grid-column: 2  /4;
    grid-row: 5 / 6;
}

.img1{
    grid-column: 3 / 5;
    grid-row: 2 / 5;
}

/* .img1:hover{
    background-color: #95D1CC;
    transform: scale(1.1);
}

.box1:hover{
    background-color: #95D1CC;
    transform: scale(1.1);
}

.box2:hover{
    background-color: #95D1CC;
    transform: scale(1.1);
} */

/* RESPONSIVE INFO SECTION */
@media screen and (max-width: 768px) {
    #page {
        display: inline-grid;
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 1em;
    }    
    div#info-box{
        padding: 0;
    }    
    .box{
        grid-column: 1 / 5;
        text-align: justify;
        /* grid-row: 2 / 5; */
    }  
    .titulo{
        grid-column: 1 / 5;
        grid-row: 1;
    }    
    .box1{
        grid-row: 2 / 3;
    } 
    .img1{
        grid-row: 3 / 4;
    }   
    /* .box2-text{
        grid-row: 4 / 4;
    }   */
    .box2{
        grid-row: 4 / 5;
    }            
}

/* ----------------- Codificador Huffman Resultados (pesos) ----------------- */

.span-size{
    font-size: 18px;
    color: var(--bondi_blue);
}

.percent-compretion{
    font-weight: bold;
    color: var(--bondi_blue);
    text-align: center;
}

h6.percent-compretion{
    font-size: 25px;
    text-align: center;
    margin: auto;
}