<!DOCTYPE html>
<html>

<head>
    <link href="css/materialdesignicons.min.css" rel="stylesheet">
    <link href="css/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/quicksand.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://unpkg.com/cytoscape@3.2.22/dist/cytoscape.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cytoscape-automove@1.10.2/cytoscape-automove.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/ace.js"></script>
    <script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.5.0/cytoscape-dagre.js"></script>
    <script src="https://unpkg.com/popper.js@1.14.7/dist/umd/popper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cytoscape-popper@1.0.4/cytoscape-popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@4.0.1/umd/index.all.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@4.0.1/index.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="http://cdn.jsdelivr.net/g/filesaver.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <script src="librerias/vue.js"></script>
    <script src="librerias/vuetify.js"></script>

    <script src="componentes/VisualizadorHuffman.js"></script>
    <script src="componentes/info.js"></script>
    <script src="./Assets/js/sticky.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/algorithm-steps.scss">
    <style>
        .v-application {
            font-family: "Quicksand";
        }
        
        .v-app-bar-title__content {
            width: 300px;
        }
        
        body {
            font-family: "Quicksand";
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app>
            <!-- <v-app-bar absolute elevate-on-scroll class="no-sticky" id="navbar">
                <v-toolbar-title>Codificación de Huffman</v-toolbar-title>
            </v-app-bar> -->
            <v-app-bar app style=" background-color: rgba(255, 255, 255, 0.5) !important; backdrop-filter: saturate(180%) blur(20px) !important;" elevate-on-scroll>

                <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
                <v-toolbar-title>Codificación de Huffman</v-toolbar-title>
                <v-spacer></v-spacer>
                <span class="hidden-md-and-down">
                    <v-btn color="black" text href="#historia">Historia</v-btn>
                    <v-btn color="black" text href="#funcionamiento">Funcionamiento</v-btn>
                    <v-btn color="black" text href="#algorithm-box">Algoritmo</v-btn>
                    <v-btn color="black" text href="#greedy">Greedy</v-btn>
                    <v-btn color="black" text href="#usos">Usos</v-btn>
                    <v-btn color="black" text href="#visualizador-huffman">Animación</v-btn>
                </span>


            </v-app-bar>

            <v-navigation-drawer v-model="drawer" fixed temporary>
                <v-list nav dense>
                    <v-list-item-group v-model="group" active-class="primary--text text--primary-4">
                        <v-list-item href="#historia">
                            <v-list-item-title>Historia</v-list-item-title>
                        </v-list-item>
                        <v-list-item href="#funcionamiento">
                            <v-list-item-title>Funcionamiento</v-list-item-title>
                        </v-list-item>
                        <v-list-item href="#algorithm-box">
                            <v-list-item-title>Algoritmo</v-list-item-title>
                        </v-list-item>
                        <v-list-item href="#greedy">
                            <v-list-item-title>Greedy</v-list-item-title>
                        </v-list-item>
                        <v-list-item href="#usos">
                            <v-list-item-title>Usos</v-list-item-title>
                        </v-list-item>
                        <v-list-item href="#visualizador-huffman">
                            <v-list-item-title>Animación</v-list-item-title>
                        </v-list-item>
                    </v-list-item-group>
                </v-list>
            </v-navigation-drawer>


            <!-- Banner superior -->
            <section class="banner" data-aos="fade-up" data-aos-duration="700">
                <div class="container flex">
                    <div class="left flex">
                        <div class="flex-1">
                            <h1>Algoritmo de codificación de Huffman.</h1>
                            <p>
                                Bienvenido a la presentación de nuestro proyecto final para la unidad de aprendizaje de Análisis de Algoritmos. En esta página encontrarás información acerca del algoritmo de Huffman y podrás conocer su funcionamiento a través de una interactiva animación.
                            </p>
                            <div class="buttons">
                                <a href="#visualizador-huffman" class="v-btn v-btn--has-bg v-size--default animacion_link btn-personal-primary">
                                    Animación
                                </a>
                                <a href="#algorithm-box" class="v-btn v-btn--outlined theme--light v-size--default animacion_link">
                                    Algoritmo
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="right flex">
                        <img src="./Assets/Images/Arbol.png" alt="AlgoritmoHuffman.webp" class="responsive-img">
                        <!-- <v-parallax src="./Assets/Images/Arbol.png"></v-parallax> -->
                    </div>
                </div>
            </section>

            <!-- ¿Qué es el algoritmo de Huffman? -->
            <section class="section-information section" data-aos="fade-up" data-aos-duration="700" id="historia">
                <h2>¿Qué es el algoritmo de Huffman?</h2>
                <div class="section-text-img">
                    <div class="text-info">
                        La codificación de Huffman es una técnica para la <b>compresión de datos</b> mediante el estudio de la frecuencia de aparición de caracteres, la cual es ampliamente usada y muy efectiva. Fue desarrollado por el norteamericano David
                        Albert Huffman en 1952 mientras hacía el doctorado en el MIT. El método fue publicado en una revista como “A Method for the Construction of Minimum-Redundancy Codes” el cual puedes
                        <a href="http://compression.ru/download/articles/huff/huffman_1952_minimum-redundancy-codes.pdf" target="_blank">consultar aquí</a>.
                    </div>
                    <img src="./Assets/Images/Huffman.jpg" alt="Huffman.jpg" class="img-info" id="huffman-img" title="David Albert Huffman">
                </div>
            </section>

            <!-- ¿Cómo funciona el algoritmo de Huffman? -->
            <section class="section-information section" data-aos="fade-up" data-aos-duration="700" id="funcionamiento">
                <h2>¿Cómo funciona el algoritmo de Huffman?</h2>
                <div class="section-text-img">
                    <img src="./Assets/Images/Problema.png" alt="Problema.png" class="img-info" id="problema-img" title="¿Cómo funciona el algoritmo de Huffman?">
                    <div class="text-info">
                        <p>
                            Huffman inventó un <b>algoritmo voraz</b> que construye un árbol de codificación optima, del cual, se obtiene la codificación optima de un mensaje dado. El algoritmo funciona a partir de un alfabeto de n símbolos, junto con
                            sus frecuencias de aparición asociadas y produce un código de Huffman para esas frecuencias y alfabeto.
                        </p>

                        <p>
                            El algoritmo consiste en la creación de un árbol binario que tiene cada uno de los símbolos por hoja, y construido de tal forma que, siguiéndolo desde la raíz a cada una de sus hojas se obtiene el código Huffman asociado.
                        </p>
                    </div>
                </div>
            </section>

            <!-- Pasos del algoritmo -->
            <section class="section-information section" data-aos="fade-up" data-aos-duration="700" id="algorithm-box">
                <h2 data-aos="fade-up" data-aos-duration="700">Pasos del algoritmo</h2>
                <h3 data-aos="fade-up" data-aos-duration="700">Para obtener el árbol de codificación optimo:</h3>
                <div class="algorithm-steps" data-aos="fade-up" data-aos-duration="700">
                    <p>
                        Para cada carácter único del alfabeto, crear un nodo hoja y crear una cola donde el carácter menos frecuente es el primero (cola de prioridad).
                    </p>
                    <p>
                        Extraer dos nodos con la frecuencia mínima de la cola de prioridad.
                    </p>
                    <p>
                        Cree un nuevo nodo con la frecuencia igual a la suma de las frecuencias de los dos nodos. El primer nodo extraído será su hijo izquierdo y el otro nodo extraído como hijo derecho. Ingresar el nodo a la cola de prioridad nuevamente.
                    </p>
                    <p>
                        Repita los pasos 2 y 3 hasta que la cola de prioridad contenga solo un nodo. El nodo restante es el nodo raíz y el árbol está completo.
                    </p>
                </div>

                <h3 data-aos="fade-up" data-aos-duration="700">Para obtener los códigos óptimos por cada carácter del alfabeto:</h3>
                <div class="algorithm-steps" data-aos="fade-up" data-aos-duration="700">
                    <p>
                        Iniciar siempre el recorrido en el árbol formado a partir de la raíz. Tener una matriz auxiliar.
                    </p>
                    <p>
                        Mientras nos movemos a la izquierda escribir 0.
                    </p>
                    <p>
                        Mientras nos movemos a la derecha escribir 1.
                    </p>
                    <p>
                        Si llegamos a una hoja imprima la matriz.
                    </p>
                </div>

                <div class="information-msg" data-aos="fade-up" data-aos-duration="700">
                    <h4>Complejidad</h4>
                    <p>Este algoritmo tiene una complejidad de <span>O(nlog(n))</span></p>
                </div>
            </section>

            <!-- CODIFICACIÓN VORAZ/GREEDY -->
            <section class="section-information" data-aos="fade-up" data-aos-duration="700" id="greedy">
                <h2>¿Por qué es un algoritmo voraz (Greedy)?</h2>
                <div class="container flex">
                    El algoritmo de codificación de Huffman cumple con los siguientes elementos, los cuales caracterizan a una técnica voraz: </div>
                <div class="card-board">
                    <div class="card-item">
                        <div class="card-title">
                            Conjunto de candidatos
                        </div>
                        <div class="card-content">
                            Cada uno de los nodos dentro de la cola de prioridad
                        </div>
                    </div>

                    <div class="card-item">
                        <div class="card-title">
                            Función solución
                        </div>
                        <div class="card-content">
                            Unión de nodos en un nuevo árbol
                        </div>
                    </div>

                    <div class="card-item">
                        <div class="card-title">
                            Función de selección
                        </div>
                        <div class="card-content">
                            Selección de nodos con menor frecuencia
                        </div>
                    </div>

                    <div class="card-item">
                        <div class="card-title">
                            Función de factibilidad
                        </div>
                        <div class="card-content">
                            La cola de prioridad debe de tener mas de un elemento
                        </div>
                    </div>

                    <div class="card-item">
                        <div class="card-title">
                            Función objetivo
                        </div>
                        <div class="card-content">
                            Árbol de codificación óptimo
                        </div>
                    </div>

                </div>
            </section>

            <!-- ¿Para que sirve este algoritmo? -->
            <section class="section-information section" data-aos="fade-up" data-aos-duration="700" id="usos">
                <h2>¿Para que sirve este algoritmo?</h2>
                <div class="section-text-img">
                    <img src="./Assets/Images/png.png" alt="PNG.png" class="img-info" id="PNG-img" title="¿Para que sirve este algoritmo?">
                    <div class="text-info">
                        <p>
                            El algoritmo de codificación de Huffman se usa ampliamente en todos los formatos de compresión convencionales que puede encontrarse, desde GZIP, PKZIP (winzip, etc.) y BZIP2, hasta formatos de imagen como JPEG y PNG.
                        </p>
                    </div>
                </div>
            </section>

            <v-main class="lighten-2">
                <v-container>
                    <!-- <v-info></v-info> -->
                    <v-row></v-row>
                    <h2 id="visualizador-huffman" class="link-scroll" data-aos="fade-up">Animación de codificación de Huffman</h2>
                    <visualizador-huffman/>
                </v-container>
            </v-main>
        </v-app>
    </div>

    <script>
        Vue.component("visualizador-huffman", VisualizadorHuffman);
        const app = new Vue({
            el: '#app',
            data: () => ({
                cadena: '',
                drawer: false,
                group: null,
            }),
            methods: {},
            computed: {},
            vuetify: new Vuetify({
                theme: {
                    themes: {
                        light: {
                            primary: '#018ABE',
                            secondary: '#02457A',
                            accent: '#97CADB',
                            error: '#FF5252',
                            info: '#2196F3',
                            success: '#4CAF50',
                            warning: '#FFC107',
                        },
                    },
                },
            }),
        })
        Vue.use(AOS.init({
            once: true
        }));
    </script>
</body>

</html>